<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <%- include('/head', {head: content.head}) %>
  </head>
  <body>
    <% if (content.header) { %>
    <header class="page-header">
      <h1>
        מאבק על הדמוקרטיה
        <span>ציר זמן</span>
      </h1>
    </header>

    <% } %>
    <section style="position: relative;">
      <div class="timeline-filter-wrapper">
        <header class="timeline-filter">
          <ul dir="rtl">
            <li>
              <input type="checkbox" name="filter-shortcut" id="all" checked />
              <label for="all">כל הנושאים</label>
            </li>
            <% content.filters.forEach(function(filter){ %>
            <li>
              <input type="checkbox" name="filter" id="<%= filter %>" checked />
              <label for="<%= filter %>"><%- utilities.sentenceCase(filter) %> </label>
            </li>
            <% }); %>
          </ul>
        </header>
      </div>
      <article class="timeline">
        <% content.entries.forEach(function(entry){ %>
        <div
          class="timeline-entry"
          data-category="<%= entry.categoriesString %>"
          data-protesterAmount="<%= entry.protesterAmount %>"
          aria-hidden="false"
        >
          <div class="timeline-icon <%- entry.color || 'blue' %>" title="<%= entry.icon %>">
            <% if (entry.icon) { %>
            <i class="fa-solid fa-<%= entry.icon %>" aria-hidden="true"></i>
            <% } %>
          </div>
          <div dir="rtl" class="timeline-description">
            <span class="timestamp"
              ><time datetime="<%- entry.datetime || entry.date %>"
                ><%- utilities.humanizeDate(entry.datetime, entry.date) %></time
              ></span
            >
            <h2 >
              <%- entry.title %>
            </h2>
            <% if (entry.image) { %>
            <div class="captioned-image image-right">
              <% if (entry.image.link) { %><a href="<%= entry.image.link %>"
                ><% } %>
                <img src="<%= entry.imageUrl %>" alt="<%= entry.image.alt %>" />
                <% if (entry.image.link) { %></a
              ><% } %> <% if (entry.image.caption) { %>
              <span class="caption"><%- entry.image.caption %></span>
              <% } %>
            </div>
            <% } %> <% if (!utilities.isWrappedInParagraphTags(entry.body)) { %>
            <p>
              <% } %> <%- entry.body %> <% if (!utilities.isWrappedInParagraphTags(entry.body)) { %>
            </p>
            <% } %> <% if (entry.links) { %>
            <ul>
              <% entry.links.forEach(function (link) { %>
              <li>
                <a href="<%= link.url %>" target="_blank"><%- link.title %></a>
              </li>
              <% }) %>
            </ul>
            <% } %>
          </div>
        </div>
        <% }); %>
      </article>
    </section>
    <div style="position: fixed; bottom: 0; right: 0; padding: 10px 20px; font-size: 20px; z-index: 100; background-color: blue; color: white;">
      <div id="flags" style="position: absolute; font-size: 24px; top:-24px; right: 4px; width: 100vw; text-align: right;">
      </div>
      <span id="protester-amount">0</span> מפגינים
    </div>
    
    <footer class="page-footer">
      <p>
        נבנה ע״י <a href="https://twitter.com/idoivri" target="_blank">עידו עברי</a> ו<a href="https://twitter.com/yonbergman" target="_blank">יונתן ברגמן</a>
        כחלק מהדמוקרטון
      </p>
      <p>
        נבנה באמצעות <a href="https://github.com/molly/static-timeline-generator" target="_blank">כלי הזמן של מולי ווייט</a>
      </p>
      <p>
        חלק מהתוכן באדיבות  <a href="https://twitter.com/talschneider" target="_blank">טל שניידר</a> וכתבתה 
        <a href="https://www.zman.co.il/376182/" target="_blank"> 60 ימים של כאוס </a>
      </p
    </footer>

    <script src="js/classlist-polyfill.js"></script>
    <script src="js/site-js.js"></script>
  </body>
</html>
